@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Ventas</h1>

<div id="app">

    <hr />

    <!--Formulario de Ventas-->

    <div class="input-group" style="width:40%">
        <input v-model="nombreCliente" readonly type="text" class="form-control" />
        <button class="btn btn-primary btn-sm" v-on:click="seleccionarClientes">
            Buscar cliente
        </button>
    </div>
    <hr />

    <div class="input-group" style="width:40%">
        <input v-model="nombreVendedor" readonly type="text" class="form-control" />
        <button class="btn btn-primary btn-sm" v-on:click="seleccionarVendedores">
            Buscar vendedor
        </button>
    </div>
    <hr />
    <div class="form-group">
        <label for="nombre">Num. Factura</label>
        <input v-model="num_factura" type="text" class="form-control" style="width:40%" />
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary" v-on:click="seleccionarProductos">
                +
            </button>
        </div>

    </div>

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            <tr v-for="(item, index) in detalles">
                <td> {{index + 1}}</td>
                <td> {{item.codigo}}</td>
                <td> {{item.nombre}}</td>
                <td> <input type="number" v-model="item.cantidad" /> </td>
                <td> {{item.precio_venta}}</td>

                <!-- <td> <input type="number" v-model="item.precio_venta" /></td>
    -->
                <td> {{(item.precio_venta * item.cantidad).toFixed(2)}}</td>


                <td>
                    <button class="btn btn-danger btn-sm" v-on:click="eliminarDetalle(item)">
                        -
                    </button>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="6">Total</td>
                <td align="right">{{(Total=calcularTotal).toFixed(2)}}</td>
            </tr>
            <tr>
                <td align="right" colspan="6">IVA ({{IVA}}%)</td>
                <td align="right">{{(Impuesto = IVA * Total /100).toFixed(2)  }}</td>
            </tr>
            <tr>
                <td align="right" colspan="6">Total Neto</td>
                <td align="right">{{(TotalNeto = Total + Impuesto).toFixed(2)}}</td>
            </tr>
            <tr>
                <td align="right" colspan="7">
                    <button class="btn btn-primary" v-on:click="guardarVenta">
                        Guardar
                    </button>
                </td>
             </tr>
        </tbody>
    </table>
    


    <!--Lista de Clientes-->
    <div class="modal" id="MostrarClientesModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lista de clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>RFC</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in clientes">
                                <td> {{index + 1}}</td>
                                <td> {{item.id}}</td>
                                <td> {{item.nombre}}</td>
                                <td> {{item.rfc}}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" v-on:click="clienteSeleccionado(item)">
                                        Seleccionar
                                    </button>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                  x
                </div>

            </div>
        </div>
    </div>

    <!--Lista de Productos-->
    <div class="modal" id="MostrarProductosModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lista de productos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Existencia</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in productos">
                                <td> {{index + 1}}</td>
                                <td> {{item.codigo}}</td>
                                <td> {{item.nombre}}</td>
                                <td> {{item.precio_venta}}</td>
                                <td> {{item.existencia}}</td>

                                <td>
                                    <button class="btn btn-primary btn-sm" v-on:click="productoSeleccionado(item)">
                                        Seleccionar
                                    </button>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!--Lista de Vendedores-->
    <div class="modal" id="MostrarVendedoresModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lista de Vendedores (Usuarios)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>RFC</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in vendedores">
                                <td> {{index + 1}}</td>
                                <td> {{item.id}}</td>
                                <td> {{item.nombre}}</td>
                                <td> {{item.telefono}}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" v-on:click="vendedorSeleccionado(item)">
                                        Seleccionar
                                    </button>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div> <!--fin id=app-->

@section Scripts{

    <script>var app = new Vue({
            el: '#app',
            data: {
                Ruta: "http://localhost:5000/api",
                clientes: [],
                productos: [],
                detalles: [],
                vendedores: [],
                id: null,
                nombre: "",
                nombreCliente: "",
                idCliente:0,
                Total: 0,
                IVA: 16,
                Impuesto: 0,
                TotalNeto: 0,
                activo: null,
                index: null,
                expresion: "",
                apiBuscar: "/Categorias/Todos",
                nombreUsuario: "",
                idusuario:0,
                num_factura: "",
                idVendedor:0,
                nombreVendedor:""

            },
            created: function () {

            },
            computed: {

                calcularTotal: function () {
                    var resultado = 0.0;

                    for (let detalle of this.detalles) {
                    resultado = resultado + detalle.cantidad * detalle.precio_venta;
                    }

                    return resultado;
                }
            },

            methods: {
                // Operaciones con Clientes
                seleccionarClientes: function () {
                    this.obtenerClientes();
                    $("#MostrarClientesModal").modal('show');
                },
                obtenerClientes: function () {
                    var vm = this;
                    $.ajax({
                        url: this.Ruta + "/Clientes",
                        method: "GET",
                        dataType: 'JSON'
                    })
                        .done(function (resultado) {

                            if (resultado.estado == true) {
                                vm.clientes = resultado.info;
                                toastr.success("Datos cargados satisfactoriamente");

                            }
                            else
                                toastr.error(resultado.mensaje);


                        });



                },
                clienteSeleccionado: function (item) {

                    this.nombreCliente = item.nombre;
                    this.idCliente = item.id;
                    $("#MostrarClientesModal").modal('hide');

                },
                // Operaciones con Productos
                seleccionarProductos: function () {
                    this.obtenerProductos();
                    $("#MostrarProductosModal").modal('show');
                },
                obtenerProductos: function () {
                    var vm = this;
                    $.ajax({
                        url: this.Ruta + "/Productos/Todos",
                        method: "GET",
                        dataType: 'JSON'
                    })
                        .done(function (resultado) {

                            if (resultado.estado == true) {
                                vm.productos = resultado.info;
                                toastr.success("Datos cargados satisfactoriamente");

                            }
                            else
                                toastr.error(resultado.mensaje);
                        });



                },
                productoSeleccionado: function (item) {

                    var detalle = {
                        idproducto: item.id,
                        codigo: item.codigo,
                        nombre: item.nombre,
                        precio_venta: item.precio_venta,
                        cantidad: 1
                    }
                    if (this.validarDetalle(detalle)) {
                        this.detalles.push(detalle)
                    }
                    else {
                        toastr.error("Producto ya esta en la lista");
                    }

                    $("#MostrarProductosModal").modal('hide');

                },
                eliminarDetalle: function (item) {
                    var pos = this.detalles.indexOf(item);
                    this.detalles.splice(pos, 1);
                },
                validarDetalle: function(item){
                    for (let detalle of this.detalles) {
                        if (detalle.codigo == item.codigo)
                            return false;
                    }

                    return true;
                },
                // Operaciones con Vendedores
                seleccionarVendedores: function () {
                    this.obtenerVendedores();
                    $("#MostrarVendedoresModal").modal('show');
                },
                obtenerVendedores: function () {
                    var vm = this;
                    $.ajax({
                        url: this.Ruta + "/Usuarios",
                        method: "GET",
                        dataType: 'JSON'
                    })
                        .done(function (resultado) {

                            if (resultado.estado == true) {
                                vm.vendedores = resultado.info;
                                toastr.success("Datos cargados satisfactoriamente");

                            }
                            else
                                toastr.error(resultado.mensaje);


                        });



                },
                vendedorSeleccionado: function (item) {

                    this.nombreVendedor = item.nombre;
                    this.idVendedor = item.id;
                    $("#MostrarVendedoresModal").modal('hide');

                },
                guardarVenta: function () {
                    vm = this;
                    var listaProductos = [];

                    for (let item of this.detalles) {

                        var prod = {
                            idproducto: item.idproducto,
                            cantidad: item.cantidad,
                            precio: item.precio_venta,
                            descuento: 0//item.descuento
                        }
                        listaProductos.push(prod);

                    }
                    console.log(listaProductos);


                    var ventaNueva = {
                        idcliente : this.idCliente,
                        idusuario: this.idVendedor,
                        num_factura: this.num_factura,
                        total: this.Total,
                        impuesto: this.IVA,
                        detalles: listaProductos
                    }
                    console.log(ventaNueva);


                    $.ajax({
                        url: vm.Ruta + "/Ventas/Nueva",
                        data: JSON.stringify(ventaNueva),
                        method: "POST",
                        contentType: 'application/json',
                        dataType: 'JSON'
                    })
                        .done(function (resultado) {

                            if (resultado.estado == true) {
                                toastr.success("Venta guardada satisfactoriamente");
                               
                                
                                this.detalles = [];
                                this.nombreCliente = "";
                                this.nombreVendedor = "";
                            }
                            else
                                toastr.error(resultado.mensaje);
                        });
                }

            } // fin metodos

 }); // fin Vue
</script>
}