<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/eac1142e-9c45-4443-a83b-6bba0b1063d0/resourceGroups/Surtidor-Recursos/providers/Microsoft.Web/sites/surdidor-apiweb</ResourceId>
    <ResourceGroup>Surtidor-Recursos</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://surdidor-apiweb.azurewebsites.net/swagger/index.html</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>surdidor-apiweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>surdidor-apiweb</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$surdidor-apiweb</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>